/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn:focus {
	outline: none;
}

footer hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pager .previous>button {
	float: left;
}

.pager .next>button {
	float: right;
}

.pager-text {
	color: #777;
}

.modal-content {
	border: 5px solid #265a88;
}

.modal-header {
	/*    background-color: #222;*/

	background-color: #265a88;
	color: #ffffff;
}

.modal-dialog {
	width: 500px;
	margin: 35px auto;
}

.modal-title {
	letter-spacing: 2px;
}

#deletePostButton,
#viewPostButton,
#editPostButton {
	margin-top: 20px;
}

#editPostButton {
	margin-right: 20px;
}

span.glyphicon-remove {
	color: red;
	top: 8px;
	font-size: 18px;
}

span.glyphicon-ok {
	color: forestgreen;
	top: 8px;
	font-size: 18px;
}

.has-error .control-label {
	color: red;
}

.has-error .form-control,
.has-error .form-control:focus {
	border-color: red;
}

ul.list-group {
	padding: 0;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .075);
	box-shadow: 0 0 0 rgba(0, 0, 0, .075);
}

span.category-list {
	width: 20px;
	text-align: center;
	/*	padding-left: 5px;*/
}

.list-group-item {
	border-radius: 10px;
	margin-bottom: 5px;
}

.list-group-item:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.list-group-item:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
