<!-- Page Content -->
<div class="container">

	<!-- Introduction Row -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">About Me
					<small>Golf, Hockey, and Web Development</small>
				</h1>
			<p>
				<img class="img-circle img-responsive img-center" src="img/michael.jpg" alt="">
				<br /> In a perfect world I would be the golf and hockey liason for a sports marketing firm. Unfortunately that role does not seem to exist so I spend my days as a web developer and my nights/weekends playing golf or officiating ice hockey.
			</p>
		</div>
	</div>

</div>
<!-- /.container -->
