<div id="modal-outer">
	<div class="modal-header">
		<h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Warning</h4>
	</div>
	<div class="modal-body">
		Do you really want to delete this post? This action cannot be "undone"!
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn" ng-click="cancel()">Cancel</button>
	</div>
</div>
