<div id="modal-outer">
	<div class="modal-header">
		<h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Please Confirm...</h4>
	</div>
	<div class="modal-body">
		Do you really want to cancel the creation/update of this post?
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn" ng-click="cancel()">Cancel</button>
	</div>
</div>
