<!-- Page Content -->
<div class="container">
	<!-- Introduction Row -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{ staticText.pageTitle }}</h1>
			<form ng-submit="submitTheForm(postCreationForm.$valid)" name="postCreationForm" id="postCreationForm" class="form-horizontal" novalidate>
				<fieldset>
					<!-- Blog Post Title-->
					<div class="form-group" ng-class=" { 'has-error': postCreationForm.postTitle.$invalid && !postCreationForm.postTitle.$pristine }">
						<label class="col-md-2 control-label" for="textinput">Post Title</label>
						<div class="col-md-8">
							<input required ng-minlength="5" id="postTitle" name="postTitle" type="text" placeholder="Enter a title for this post..." class="form-control input-md" ng-model="post.title">
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.postTitle.$invalid && !postCreationForm.postTitle.$pristine">
							</span>
							<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.postTitle.$valid && !postCreationForm.postTitle.$pristine">
							</span>
						</div>
					</div>
					<!-- Author Name -->
					<div class="form-group" ng-class=" { 'has-error': postCreationForm.authorName.$invalid && !postCreationForm.authorName.$pristine }">
						<label class="col-md-2 control-label" for="textinput">Author Name</label>
						<div class="col-md-8">
							<input required ng-minlength="3" id="authorName" name="authorName" type="text" placeholder="Enter the author's name..." class="form-control input-md" ng-model="post.author">
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.authorName.$invalid && !postCreationForm.authorName.$pristine">
							</span>
							<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.authorName.$valid && !postCreationForm.authorName.$pristine">
							</span>
						</div>
					</div>
					<!-- Tags -->
					<div class="form-group" ng-class=" { 'has-error': postCreationForm.tags.$invalid && !postCreationForm.tags.$pristine }">
						<label class="col-md-2 control-label" for="textinput">Tags</label>
						<div class="col-md-8">
							<input id="tags" name="tags" type="text" placeholder="Enter tags to be associated with this post.  Separate tags by spaces..." class="form-control input-md" ng-model="post.tags">
						</div>
						<div class="col-md-2">
							&nbsp;
						</div>
					</div>
					<!-- Select Basic -->
					<div class="form-group" ng-class=" { 'has-error': postCreationForm.category.$invalid && !postCreationForm.category.$pristine }">
						<label class="col-md-2 control-label" for="selectbasic">Category</label>
						<div class="col-md-8">
							<select class="form-control" ng-model="post.category._id" ng-options="category._id as category.name for category in categories"></select>
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.category.$invalid && !postCreationForm.category.$pristine">
							</span>
							<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.category.$valid && !postCreationForm.category.$pristine">
							</span>
						</div>
					</div>
					<!-- Select Basic -->
					<div class="form-group" ng-class=" { 'has-error': postCreationForm.selectImage.$invalid && !postCreationForm.selectImage.$pristine }">
						<label class="col-md-2 control-label" for="selectbasic">Image</label>
						<div class="col-md-8">
							<select required id="selectImage" name="selectImage" class="form-control" ng-model="post.imageURL">
								<option value="">--- Select an Image ---</option>
								<option value="img/foodImage1.jpg">Food Image 1</option>
								<option value="img/foodImage2.jpg">Food Image 2</option>
								<option value="img/golfImage1.jpg">Golf Image 1</option>
								<option value="img/golfImage2.jpg">Golf Image 2</option>
								<option value="img/hockeyImage1.jpg">Hockey Image 1</option>
								<option value="img/hockeyImage2.jpg">Hockey Image 2</option>
								<option value="img/musicImage1.jpg">Music Image 1</option>
								<option value="img/musicImage2.jpg">Music Image 2</option>
								<option value="img/technologyImage1.jpg">Technology Image 1</option>
								<option value="img/technologyImage2.jpg">Technology Image 2</option>
							</select>
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.selectImage.$invalid && !postCreationForm.selectImage.$pristine">
							</span>
							<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.selectImage.$valid && !postCreationForm.selectImage.$pristine">
							</span>
						</div>
					</div>
					<!-- Textarea -->
					<div class="form-group" ng-class=" { 'has-error': postCreationForm.teaserContent.$invalid && !postCreationForm.teaserContent.$pristine }">
						<label class="col-md-2 control-label" for="textarea">Teaser Content</label>
						<div class="col-md-8">
							<textarea tbio tbio-minlength="15" tbio-maxlength="2000" tbio-required configuration="simple" ng-model="post.teaserContent" rows="10" class="form-control" id="teaserContent" name="teaserContent"></textarea>
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.teaserContent.$invalid && !postCreationForm.teaserContent.$pristine">
							</span>
							<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.teaserContent.$valid && !postCreationForm.teaserContent.$pristine">
							</span>
						</div>
					</div>
					<!-- Textarea -->
					<div class="form-group" ng-class=" { 'has-error': postCreationForm.fullContent.$invalid && !postCreationForm.fullContent.$pristine }">
						<label class="col-md-2 control-label" for="textarea">Full Content</label>
						<div class="col-md-8">
							<textarea tbio tbio-minlength="25" tbio-maxlength="500000" tbio-required ng-model="post.fullContent" rows="15" class="form-control" id="fullContent" name="fullContent"></textarea>
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.fullContent.$invalid && !postCreationForm.fullContent.$pristine">
							</span>
							<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.fullContent.$valid && !postCreationForm.fullContent.$pristine">
							</span>
						</div>
					</div>
					<!-- Submit Button -->
					<div class="form-group">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-8">
							<div style="float: right;">
								<a ng-click="confirm();" class="createPostButton btn btn-primary navbar-btn">
									{{ staticText.cancelButtonText }}&nbsp;&nbsp;
								<span class="glyphicon glyphicon-remove-sign"></span>
								</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="submit" class="btn btn-primary navbar-btn" ng-disabled="postCreationForm.$invalid">
									{{ staticText.saveButtonText }}&nbsp;&nbsp;
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
		</div>
		</fieldset>
		</form>
	</div>
</div>
</div>
<!-- /.container -->
