<div class="row">
	<!-- Blog Post Content Column -->
	<div class="col-lg-8">

		<!-- Blog Post -->

		<!-- Title -->
		<h1>{{ post.title }}</h1>

		<!-- Author and Date/Time -->
		<p>
			<span class="glyphicon glyphicon-time"></span>&nbsp;{{ post.lastUpdated ? "Last Edited" : "Posted" }} by <em>{{ post.author }}</em> on <em>{{  (post.lastUpdated ? post.lastUpdated : post.postDate) | date:'MMMM d, yyyy @ h:mma' }}</em>
		</p>
		<hr>

		<!-- Preview Image -->
		<img class="img-responsive" ng-src="{{ post.imageURL }}" alt="">

		<hr>

		<!-- Post Content -->
		<div ng-bind-html="post.fullContent"></div>
		<div style="float: right;">
			<a id="editPostButton" name="editPostButton" class="btn btn-primary" href="#/editPost/{{ post._id }}">
				Edit This Post&nbsp;&nbsp;
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a id="deletePostButton" name="deletePostButton" class="btn btn-primary" ng-click="confirm();">
				Delete This Post&nbsp;&nbsp;
				<span class="glyphicon glyphicon-trash"></span>
			</a>
		</div>

	</div>

	<!-- Blog Sidebar Widgets Column -->
	<div class="col-md-4">

		<!-- Blog Search Well -->
		<div class="well">
			<h4>Blog Search</h4>
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
				</button>
				</span>
			</div>
			<!-- /.input-group -->
		</div>

		<!-- Blog Categories Well -->
		<div class="well">
			<h4>Blog Category</h4>
			<div class="row">
				<div class="col-lg-6">
					<em>{{ post.category.name }}</em>
				</div>

			</div>
			<!-- /.row -->
		</div>

		<!-- Side Widget Well -->
		<div class="well">
			<h4>Tags</h4>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="tag in tagArray">{{ tag }}</li>
			</ul>
		</div>

	</div>
</div>
<!-- /.row -->
