<div class="row"><span id="row">&nbsp;</span>
	<!-- Blog Entries Column -->
	<div class="col-md-8">
		<h1 class="page-header">
			{{ pageTitles.pageHeading }}
			<small>{{ pageTitles.secondaryText }}</small>
		</h1>

		<!-- No Posts Message -->
		<div ng-hide="posts">
			<h1><small>No posts found!</small></h1>
		</div>
		<!-- Blog Posts -->
		<div ng-repeat="post in posts">
			<h2>
				<a href="#/post/{{ post._id }}">{{ post.title }}</a>
			</h2>
			<p>
				<span class="glyphicon glyphicon-time"></span>&nbsp;{{ post.lastUpdated ? "Last Edited" : "Posted" }} by <em>{{ post.author }}</em> on <em>{{  (post.lastUpdated ? post.lastUpdated : post.postDate) | date:'MMMM d, yyyy @ h:mma' }}</em>
			</p>
			<hr>
			<img class="img-responsive" ng-src="{{ post.imageURL }}" alt="">
			<hr>
			<div ng-bind-html="post.teaserContent"></div>
			<a id="viewPostButton" name="viewPostButton" class="btn btn-sm btn-primary" style="float: right;" href="#/post/{{ post._id }}">
				Read More&nbsp;&nbsp;
				<span class="glyphicon glyphicon-chevron-right"></span></a>
			<div style="clear: both;"></div>
		</div>
		<!--		<hr>-->
		<!-- Pager -->
		<table ng-show="posts && !hideFlags.pager" class="pager" style="width: 100%;">
			<tr style="width: 100%;">
				<td style="width: 33%;" class="previous">
					<button type="submit" class="btn btn-default navbar-btn" ng-disabled="!pagingFlags.isNewer" ng-click="changePage(-1);">
						<span class="glyphicon glyphicon-backward"></span>&nbsp;&nbsp;Newer Posts
					</button>
				</td>
				<td class="pager-text" style="width: 34%;">Page {{ pagingFlags.currentPage }} of {{ pagingFlags.totalPages }}</td>
				<td style="width: 33%;" class="next">
					<button type="submit" class="btn btn-default navbar-btn" ng-disabled="!pagingFlags.isOlder" ng-click="changePage(1);">
						Older Posts&nbsp;&nbsp;<span class="glyphicon glyphicon-forward"></span>
					</button>
				</td>
			</tr>
		</table>
	</div>

	<!-- Blog Sidebar Widgets Column -->
	<div class="col-md-4">
		<!-- Blog Search Well -->
		<div ng-controller="SearchFormController" class="well">
			<h4>Blog Search</h4>
			<div class="input-group">
				<input ng-model="searchString" type="text" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="startSearch();">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				</span>
			</div>
			<!-- /.input-group -->
		</div>

		<!-- Blog Categories Well -->
		<div ng-controller="CategoriesController" class="well">
			<h4>Blog Categories</h4>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-group">
						<li class="list-group-item">
							<span class="category-list glyphicon"></span>
							<a detect-active-link class="category-nav" href="#/posts">All Categories</a>
						</li>
						<li class="list-group-item" ng-repeat="category in categories">
							<span class="category-list glyphicon"></span>
							<a detect-active-link class="category-nav" href="#/posts?category={{category._id}}">{{ category.name }}</a>
						</li>
					</ul>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<!-- /Blog Sidebar Widgets Column -->

</div>
<!-- /.row -->
